.cadastro-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 50px 30px;
}

h1{
    margin: 0;
    height: 53px;
    font-family: $fontBold;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}