@font-face {
    font-family: 'Mulish Bold';
    src: url(MulishBold.ttf) format('opentype');
}
@font-face {
    font-family:'Mulish Regular';
    src: url(MulishRegular.ttf) format('opentype');
}
@font-face {
    font-family: 'Mulish Light';
    src: url(MulishLight.ttf) format('opentype');
}
