@mixin botaoPrimario{
    background-color: $corPrimaria;
    color: $corBranca;
}

@mixin botaoPrimarioUpsideDown{
    background-color: $corPrimaria2;
    color: $corBranca;
}

@mixin botaoSecundario{
    background-color: $corSecundaria;
    color: $corBranca;
}

@mixin botaoSecundarioUpsideDown{
    background-color: $corSecundaria2;
    color: $corBranca;
}

.btn{
    width: 100%;
    height: 63px;
    border: none;
    border-radius: 30px;
    font-family: $fontRegular;
    font-size: 18px;
    cursor: pointer;

    &.primaria{
       @include botaoPrimario;
        &:hover{
            @include botaoPrimarioUpsideDown;
        }
    }

    &.secundario{
        @include botaoSecundario;

        &:hover{
            @include botaoSecundarioUpsideDown;
        }
    }
    &:disabled{
        opacity: 50%;
    }
}