.inputContainer{
    width: 100%;
    height: 53px;

    .input{
        width: 100%;
        height: 63px;
        border: none;
        border-radius: 30px;
        font-family: $fontRegular;
        font-size: 18px;
        padding-left: 20px;
        background-color: $corBranca;
        
    
        &:focus {
            outline: none;
        }
    
        &::placeholder{
            color: $corPrimaria;
        }
    }
}

.inputContainer, .input {
    box-sizing: border-box;
}


