@mixin botaoPrimario{
    background-color: $corPrimaria;
    font-family: $fontBold;
    color: $corBranca;
}

@mixin botaoPrimarioUpsideDown{
    background-color: $corPrimaria2;
    font-family: $fontBold;
    color: $corBranca;
}

@mixin botaoSecundario{
    background-color: $corSecundaria;
    font-family: $fontRegular;
    color: $corBranca;
}

@mixin botaoSecundarioUpsideDown{
    background-color: $corSecundaria2;
    font-family: $fontRegular;
    color: $corBranca;
}

.btn{
    width: 100%;
    height: 50px;
    margin-bottom: 8px;
    border: none;
    border-radius: 30px;
    cursor: pointer;

    &.primaria{
       @include botaoPrimario;
        &:hover{
            @include botaoPrimarioUpsideDown;
        }
    }

    &.secundario{
        @include botaoSecundario;

        &:hover{
            @include botaoSecundarioUpsideDown;
        }
    }
    &:disabled{
        opacity: 50%;
    }
}