@import 'variaveis.scss';

*{
    font-family: $fontRegular;
    font-size: 18px;
}

html, body, #__next{
    height: 100%;
    margin: 0;
    background: $corFundo;
    background: linear-gradient(0deg, $corFundo 30%, $corFundo2 100%);
}


@import '../public/fonts/fonts.scss';
@import '../components/botao/botao.scss';
@import './paginaPublica.scss';
@import '../components/inputPublico/inputPublico.scss';