
.paginaPublica{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;

    .circuloSombra {
        position: absolute;
        content: '';
        width: 600px;
        height: 700px;
        background-color: rgba(255, 255, 255, 0.16);
        border-radius: 100%;
        pointer-events: none; /* Isso permite que os cliques passem pela meia lua para os elementos abaixo */
        margin-right: 90%;
    }
    

    .conteudoPaginaPublica{
        width: 80%;
    }

    .tituloContainer, h1{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 13%;
        width: 100%;
        font-size: 36px;
        margin-bottom: 50px;
        h1{
            height: 50px;
            margin: 0;
        }
    }
}