$fontBold : 'Mulish Bold';
$fontRegular : 'Mulish Regular';
$fontLight : 'Mulish Light';

$corPrimaria : #412A35;
$corPrimaria2 : #412a35f3;
$corSecundaria : #754f61;
$corSecundaria2 : #754f61ef;
$corFundo : #F0E7ED;
$corBranca : #ffffff;

$desktopBreakpoint : 992px;
